---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as AboutPage } from '../content/about.md';
import siteConfig from '../../site.config.mjs';

const profileImage = siteConfig.profileImage;
const base = import.meta.env.BASE_URL;
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom flex flex-col gap-10 justify-center text-center items-center">
				<h1 class="text-4xl md:text-5xl font-bold mb-1">Sobre mí</h1>
			

			
				<div class="prose text-gray-700 mb-6">
					<AboutPage />
				</div>
			</div>
		</div>
	</section>
</MainLayout>
